* {
    /* outline: solid 1px; */
    color: antiquewhite;
    overflow-x: hidden;
}

:root {
    --background: #001220;
    --background2: #021c30;
    --light: #003762;
}

/* ROOT */

body {
    margin: 0;
    background-color: var(--background);
    /* background-color: red; */


}

header {
    display: flex;
    justify-content: center;
    /* background-color: aqua; */
    color: antiquewhite;
    position: relative;

    height: 70vh;
}

.blob {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 400px;
    height: 400px;

    z-index: 1;
    overflow:hidden;
    
}

.blob:nth-child(2) {
    filter: blur(50px);
    
}

section {
    display: flex;
    justify-content: center;
    background-color: var(--light);

    margin-top: -4px;
}


main {
    display: flex;
    justify-content: center;
    /* background-color: aquamarine; */
}

.element-container {
    width: 40%;

    display: flex;
    flex-flow: column;
    align-items: center;
    

    z-index: 2;
}



/* FIN DE LOS ESTILOS PRINCIPALES */

#toogle-container {
    display: flex;
    flex-flow: row;
}

/* ANIMACIONES DE LOS SVG */

.svg {
    animation: svg linear 1s;
    animation-delay: calc(var(--order) * 100ms);
}

@keyframes svg {
    0% {
        opacity: 0;
        transform: translateY(-20%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* SKILLS CONTAINER */

.skills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 10px;
}

/* BOTON DE CAMBIO */

.not-visible {
    display: none;
}

/* WAVES */

.separador {
    aspect-ratio: 3600/1200;
    /* width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}

