* {
    /* outline: solid 1px; */
    color: antiquewhite;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

:root {
    --background: #001220;
    --background2: #021c30;
    --light: #003762;
    --withe: #ffffff;
}

/* ROOT */

body {
    margin: 0;
    background-color: var(--background);
    /* background-color: red; */


}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    color: antiquewhite;
    position: relative;

    height: 70vh;
}

.title-border {
    color: var(--background);
    font-size: 4rem;
    margin-bottom: 0;

    z-index: 2;

    text-shadow: 
                -1px -1px 0 var(--withe),
                1px -1px 0 var(--withe),
                1px 1px 0 var(--withe),
                -1px 1px 0 var(--withe);
}

header p {
    font-size: 1.3rem;
    margin: 0;
}

header p span {
    color: var(--withe);
    font-weight: bolder;
}


.blob {
    position: absolute;

    /* width: 400px;
    height: 400px; */

    z-index: 1;
    overflow:hidden;
    
}

.blob:nth-child(2) {
    filter: blur(50px);
    
}

.blob1 {
    top: 50%;
    left: 50%;
    transform: translate(-10%, -50%);
}

section {
    display: flex;
    justify-content: center;
    background-color: var(--light);

    margin-top: -4px;
}


main {
    display: flex;
    justify-content: center;
    /* background-color: aquamarine; */
}

.element-container {
    max-width: 40%;
    min-width: 410px;

    /* display: flex;
    flex-flow: column;
    align-items: center; */
    

    z-index: 2;
}

section .element-container {
    display: flex;
    flex-flow: column;
    align-items: center;
}



/* FIN DE LOS ESTILOS PRINCIPALES */

#toogle-container {
    display: flex;
    flex-flow: row;
}

/* ANIMACIONES DE LOS SVG */

.svg {
    animation: svg linear 1s;
    animation-delay: calc(var(--order) * 100ms);
}

@keyframes svg {
    0% {
        opacity: 0;
        transform: translateY(-20%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* SKILLS CONTAINER */

.skills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 10px;
}

/* BOTON DE CAMBIO */

.not-visible {
    display: none;
}

/* WAVES */

.separador {
    aspect-ratio: 3600/1200;
    /* width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}

