* {
    /* outline: solid 1px; */
    /* color: var(--soft-white); */
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

:root {
    --background: #001220;
    --background2: #021c30;
    --light: #003762;
    --white: #EEF8FF;
    --soft-white: #dcf2ff;
    --html: #FF6D00;
    --css: #039BE5;
    --js: #ffd600;
    --php: #dcd5f2;
}

/* ROOT */

body {
    margin: 0;
    background-color: var(--background);
    /* background-color: red; */


}

section {
    display: flex;
    justify-content: center;
    background-color: var(--light);

    margin-top: -4px;
}


main {
    display: flex;
    justify-content: center;
    /* background-color: aquamarine; */
}

.element-container {
    max-width: 40%;
    min-width: 410px;

    /* display: flex;
    flex-flow: column;
    align-items: center; */
    

    z-index: 2;
}

section .element-container {
    display: flex;
    flex-flow: column;
    align-items: center;
}



/* WAVES */

.separador {
    aspect-ratio: 3600/1200;
    /* width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}

/* LINK */

a {
    text-decoration: none;
    color: var(--white);
}