main .element-container       {
    display: flex;
    flex-flow: column;
    align-items: center;

    max-width: 40%;
    width: 730px;
    min-width: 410px;
    overflow-y: hidden;
}

main h1 {
    color: var(--white);
    font-size: 4rem;
    font-weight: normal;
    letter-spacing: 3px;
    margin-bottom: 0;


    z-index: 2;

    /* text-shadow: 
                -1px -1px 0 var(--white),
                1px -1px 0 var(--white),
                1px 1px 0 var(--white),
                -1px 1px 0 var(--white); */

    padding: 1rem;
}

/* CARDS */

.work-card {
    display: flex;
    width: 90%;
    height: 25vh;

    border-radius: 10px;

    cursor: pointer;

    justify-content: space-around;
    align-items: center;
    transition: 200ms
}

.work-card:hover {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow:  5px 5px 30px rgba(0, 0, 0, 0.4);
    scale: 1.02;
    
    transition: 200ms;
}

.work-img {
    width: 30%;
    height: 80%;

    border-radius: 10px;

    /* animation: border-blob 30s infinite; */
}

.work-img img {
    width: fit-content;
    height: fit-content;
}

.work-txt {
    display: flex;
    flex-flow: column;
}

.work-title {
    cursor: pointer;

    font-size: 2rem;
    font-weight: 500;

    color: var(--white);
}

.work-subtitle {
    color: var(--soft-white);
    font-size: 1.1rem;
}

ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 10px;
    padding: 0;
}


/* IMAGENES */

.imgW1 {
    background-image: url(/Rodamientos-Norte.png);
    background-size: cover;
    background-position: center;
}

.imgW2 {
    background-image: url(/Pictures/Works/Front/Memento-Mori.png);
    background-size: cover;
    background-position: center;
}


/* TANGS */

li {
    border: solid 1px;
    border-radius: 20px;

    text-align: center;
    color: black;
}

.html {
    background-color: var(--html);
}

.css {
    background-color: var(--css);
}

.js {
    background-color: var(--js);
}

.php {
    background-color: var(--php);
}


@keyframes border-blob {
    
    0%, 100% {
        border-radius: 100% 0% 100% 0% / 0% 100% 0% 100%;
    }

    50% {
        border-radius: 0% 100% 0% 100% / 100% 0% 100% 0%;
    }
}

#waviZ {
    z-index: 2;
}

/* MEDIA */

#social-media {
    width: 40%;
    justify-content: space-between;
    align-items: center;
}